$color-primary: #4D2900;
$color-secondary: #241400;
$color-footer: #391F00;
$color-fwhite: #FFF;
$color-forange: #E16A00;
$color-milk: #FFFAF5;

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
