.delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.share {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}