@import '../baseline/variable';
@import '../components/logo';

.header {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.navigation, .search-form, .actions {
    display: inline-flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color:$color-secondary;
    font-size: 12px;
}

.search-form {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 3px;
    padding-top: 1px;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions img {
    height: 38px;
}

.price {
    font-size: 14px;
}

.total-cost {
    display: flex;
    align-items: center;
    gap: 14px;
}

.arrow-down {
    display: block;
    width: 9px;
    height: 6px;
    background-image: url('../../assets/svg/arrow-down.svg');
    background-repeat: no-repeat;
}

.text--white {
    color: white;
    border-color: white;
}