@import '../baseline/variable';
.start__button--big {
    width: 204px;
    height: 48px;
    color: $color-fwhite;
    background-color: $color-forange;
    border: none;
    font-size: 15px;
    font-weight: 900;
}

.card-button {
    width: 104px;
    height: 30px;
    background-color: $color-forange;
    border-radius: 3px;
    border: none;
    color: $color-fwhite;
    font-weight: 900;
}